# Python (가상환경) - 이게 파일 2만 개의 주범입니다!
venv/
.venv/
__pycache__/
*.py[cod]
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/vosk-model-small-ko/